# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001

# Backend
PORT=3001
NODE_ENV=development

# PostgreSQL local (docker compose)
DATABASE_URL=postgresql://finansimple:finansimple@localhost:5432/finansimple?schema=public
